<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>URL shortner</title>
</head>

<body>
    <h1>URL shortner</h1>
    <form action="/generate" method="post">
        <input type="text" name="name" placeholder="NAME">
        <input type="text" name="newLink" placeholder="URL">
        <button type="submit">submit</button>
    </form>
    <table>
        <tr>
            <th>clicks</th>
            <th>Short URL</th>
            <th>name</th>
        </tr>
        <tbody>
            <% links.forEach(function(element){ %>
                <tr>
                    <td>
                        <%=element.click%>
                    </td>
                    <td>
                        127.0.0.1/<%= element.short %>
                    </td>
                    <td>
                        <%= element.name %>
                    </td>
                </tr>
                <% }) %>
        </tbody>
    </table>
</body>

</html>